.region-special-category {
  width:100%;
  display: inline-block;

  .block{
      position: relative;
      height: 155px;
      overflow: hidden;
      border-radius: @border-radius;
      border: 0;
    &:hover {
      img{
        transform: scale(1.05) translate(-50%,0);
      }
      .iris{
        background-color: rgba(0, 0, 0, 0);
      }

      .druhy-obrazek{
        opacity: 0;
      }

      .show-button{
        opacity: 1;
              }


    }


   img {
     max-width: none;
     height: 100%;
     transition: 500ms;
     position: relative;
     left: 50%; //posunuti o 50% rodičovského prvku
     transform: translate(-50%,0);//posunutí o 50% prvku - celkově mi tyto tři vlastnosti vycentrují obrázek
   }

    }
  .show-button{
    font-size: 15px;
    text-align: center;
    line-height: 36px;
    text-transform: uppercase;
    border-radius: @border-radius;
    color: #fff;
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    transition: 300ms;
    width: 80%;
    max-width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}



.iris{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 300ms;
  -webkit-transition: 300ms;
  &.iris-black{
    background-color: rgba(0, 0, 0, 0.2);
  }
  &.iris-red{
    background-color: rgba(255, 10, 50, 0.4);
  }

}