
.region-talks-tricks-blog{
  display: inline-block;
  width: 100%;
  .block{
    position: relative;
    height: 155px;
    border-radius: @border-radius;
    overflow: hidden;
    border: hidden;

    .title{
      position: relative;
      font-size: 14px;
      margin-right: 10px;
    }

    .link-red{
      color: #ff0000;
      text-decoration: underline;
    }

    img{
      position: relative;
      max-width: none;
      height: 100%;
      transition: 500ms;
      left: 50%; //posunuti o 50% rodičovského prvku
      transform: translate(-50%,0);//posunutí o 50% prvku - celkově mi tyto tři vlastnosti vycentrují obrázek
    }

    .iris-text{
      position: absolute;
      bottom: 0px;
      border-radius: 30px;
      color: #ffffff;
      background-color: rgba(0, 0, 0, 0.7);
      padding: 5px;
    }
    &:hover {
      img{
        transform: scale(1.05) translate(-50%,0);
      }
      .iris-text{
      text-decoration: underline;
      }
    }
  }

}