.region-quarter {
    display: inline-block;
    width: 100%;
    .block {
        width: ~"calc(25% - 12px)";
        margin-right: 16px;
        border: 1px solid @block-border;
        float: left;
        margin-bottom: 16px;
        position: relative;
        &:last-child {
            margin-right: 0;
            float: right;
        }

    }
}