body{
  text-align: center;
}
.clearfix{
  zoom:1;
  &:before, &:after{ content:""; display:table; }
  &:after{ clear: both; }
}

.zone-wrapper{
  max-width: 1240px;
  //margin: 10px auto;
  text-align: left;
}
.zone-header-wrapper{
  margin: 0;
 line-height: 0;
  .zone-header > *{
    line-height: normal;
  }
}
