.container {
  max-width: 1240px;
  border: 1px solid rgba(51, 62, 255, 0.73);
  margin: 0 auto;
  height: 100vh;
  width: 1024px;
}
.container .square {
  width: 90px;
  height: 100px;
  background-color: rgba(51, 62, 255, 0.73);
}
