input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input[type="submit"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-progress-appearance: none;
    appearance: none;
}

input[type=text], input[type=password], select, textarea {
    width: 100%;
    height: 43px;
    display: inline-block;
    border: 1px solid @block-border;
    background-color: @color-light-gray;
    //border: 1px solid @very-dark-gray-bg;
    color: @default-text-color;
    font-size: 13px;
    .border-radius();
    padding: 0 0 0 8px;
    max-width: 100%;
    outline: 0;
    //-webkit-appearance: none;

    .error & {
        border: 1px solid @color-green;
    }
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-progress-appearance: none;
    appearance: none;
    background: @color-light-gray url('@{img}/selec-arrow.png') right 14px center/10px no-repeat;
    padding-right: 30px;
}

label {
    font-size: 13px;
    //font-weight: 600;
    color: @link-color;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    .error & {
        color:@color-green;
    }
}



.form-row {
    margin-bottom: 15px;
    width: 100%;
}

.checkbox-button  {
    position: relative;
    display: inline-block;
    margin: 7px 0;
    label{
        font-weight: 700;
        text-transform: lowercase;
        cursor: pointer;
        width: auto !important;
        padding: 0 20px;
        &:before {
            content: '';
            position: absolute;
            height: 14px;
            width: 14px;
            display: inline-block;
            border-radius: 100%;
            background-color: @block-border;
            border: 1px solid @color-gray;
            left: 0;
            top: 2px;
            margin-right: 20px;
        }
    }
    input[type="checkbox"] + label:before{
        border-radius: 0;
    }
    input[type=radio], input[type=checkbox]{
        display: none;
        margin: 4px 0 0;
    }
    input:checked + label:before{
        border: 1px solid @color-red;
        background: @color-red;
    }
    input[type="checkbox"]:checked + label:before{
        //.fontAw();
        content: '\f00c';
        background-color: transparent;
        color: @color-red;
        line-height: 14px;
    }
}

