
@color-red: rgba(51, 62, 255, 0.73);
.container {

  max-width: 1240px;
  border: 1px solid @color-red;
  margin: 0 auto;
  height: 100vh;
  width: 1024px;

  .square {

    width: 90px;
    height: 100px;
    background-color: @color-red;
  }
}