@color-red: violet;

.container {
  max-width: 1240px;
  border:1px solid @color-red;
  margin: 0 auto;
  height: 100vh;
  width: 1024px;

  
  .square {

    width:100px;
    height:100px;
    background-color: blue;

  }
}