@media screen and (max-width: 990px) {
  .region-special-category{
    .block{
      width: ~"calc(50% - 8px)";//musí být mezery za a před minusem
      margin-right: 16px;
      height: 200px;
      &:nth-child(2n){
        margin-right: 0;
      }
    }
    img{
      width: 100%;
    }
    .iris img{
      width: auto;
    }
    }
}

@media screen and (max-width: 560px) {//@mqMobileTo
  .region-special-category{
    .block{
        width: 100%;
        margin-right: 0;
      }
    }
}
