@font-face {
  font-family: 'mjfont';
  src:  url('fonts/mjfont.eot?utw9t8');
  src:  url('fonts/mjfont.eot?utw9t8#iefix') format('embedded-opentype'),
    url('fonts/mjfont.ttf?utw9t8') format('truetype'),
    url('fonts/mjfont.woff?utw9t8') format('woff'),
    url('fonts/mjfont.svg?utw9t8#mjfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="mj-"], [class*=" mj-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mjfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mj-bottles:before {
  content: "\e900";
}
.mj-car:before {
  content: "\e901";
}
.mj-clocks:before {
  content: "\e902";
}
.mj-fb-rating .path1:before {
  content: "\e903";
  color: rgb(255, 255, 255);
}
.mj-fb-rating .path2:before {
  content: "\e904";
  margin-left: -3.7529296875em;
  color: rgb(255, 255, 255);
}
.mj-fb-rating .path3:before {
  content: "\e905";
  margin-left: -3.7529296875em;
  color: rgb(255, 255, 255);
}
.mj-fb-rating .path4:before {
  content: "\e906";
  margin-left: -3.7529296875em;
  color: rgb(91, 148, 252);
}
.mj-fb-rating .path5:before {
  content: "\e907";
  margin-left: -3.7529296875em;
  color: rgb(255, 255, 255);
}
.mj-fb-rating .path6:before {
  content: "\e908";
  margin-left: -3.7529296875em;
  color: rgb(255, 255, 255);
}
.mj-fb-rating .path7:before {
  content: "\e909";
  margin-left: -3.7529296875em;
  color: rgb(255, 255, 255);
}
.mj-fb-rating .path8:before {
  content: "\e90a";
  margin-left: -3.7529296875em;
  color: rgb(255, 255, 255);
}
.mj-fb-rating .path9:before {
  content: "\e90b";
  margin-left: -3.7529296875em;
  color: rgb(255, 255, 255);
}
.mj-fb-rating .path10:before {
  content: "\e90c";
  margin-left: -3.7529296875em;
  color: rgb(255, 255, 255);
}
.mj-fb-rating .path11:before {
  content: "\e90d";
  margin-left: -3.7529296875em;
  color: rgb(255, 255, 255);
}
.mj-fb-rating .path12:before {
  content: "\e90e";
  margin-left: -3.7529296875em;
  color: rgb(255, 255, 255);
}
.mj-fb-rating .path13:before {
  content: "\e90f";
  margin-left: -3.7529296875em;
  color: rgb(255, 255, 255);
}
.mj-fb-rating .path14:before {
  content: "\e910";
  margin-left: -3.7529296875em;
  color: rgb(255, 255, 255);
}
.mj-fb-rating .path15:before {
  content: "\e911";
  margin-left: -3.7529296875em;
  color: rgb(255, 255, 255);
}
.mj-fb-rating .path16:before {
  content: "\e912";
  margin-left: -3.7529296875em;
  color: rgb(255, 255, 255);
}
.mj-fb-rating .path17:before {
  content: "\e913";
  margin-left: -3.7529296875em;
  color: rgb(255, 255, 255);
}
.mj-fb-rating .path18:before {
  content: "\e914";
  margin-left: -3.7529296875em;
  color: rgb(255, 255, 255);
}
.mj-fb-rating .path19:before {
  content: "\e915";
  margin-left: -3.7529296875em;
  color: rgb(255, 255, 255);
}
.mj-fb-rating .path20:before {
  content: "\e916";
  margin-left: -3.7529296875em;
  color: rgb(255, 255, 255);
}
.mj-fb-rating .path21:before {
  content: "\e917";
  margin-left: -3.7529296875em;
  color: rgb(255, 255, 255);
}
.mj-fb-rating .path22:before {
  content: "\e918";
  margin-left: -3.7529296875em;
  color: rgb(255, 255, 255);
}
.mj-fb-rating .path23:before {
  content: "\e919";
  margin-left: -3.7529296875em;
  color: rgb(255, 255, 255);
}
.mj-fb-rating .path24:before {
  content: "\e91a";
  margin-left: -3.7529296875em;
  color: rgb(255, 255, 255);
}
.mj-fb-rating .path25:before {
  content: "\e91b";
  margin-left: -3.7529296875em;
  color: rgb(255, 255, 255);
}
.mj-gift:before {
  content: "\e91c";
}
.mj-guy:before {
  content: "\e91d";
}
.mj-piggy:before {
  content: "\e91e";
}
.mj-pacman:before {
  content: "\e91f";
}
.mj-envelop:before {
  content: "\e945";
}
.mj-pushpin:before {
  content: "\e946";
}
.mj-hour-glass:before {
  content: "\e979";
}
.mj-evil2:before {
  content: "\e9f0";
}
