.iconSprite { background: url('iconSprite.png') no-repeat top left; width: 51px; height: 39px;  } 
.iconSprite.menu_tab_arrow { background-position: 0 0; width: 14px; height: 14px; } 
.iconSprite.top_menu_admin_ico { background-position: 0 -24px; width: 18px; height: 30px; } 
.iconSprite.top_menu_clear_ico { background-position: 0 -64px; width: 18px; height: 30px; } 
.iconSprite.top_menu_data_ico { background-position: 0 -104px; width: 18px; height: 30px; } 
.iconSprite.top_menu_date_ico { background-position: 0 -144px; width: 18px; height: 30px; } 
.iconSprite.top_menu_print_ico { background-position: 0 -184px; width: 18px; height: 29px; } 
.iconSprite.top_menu_sql_ico { background-position: 0 -223px; width: 18px; height: 30px; } 
.iconSprite.top_menu_time_ico { background-position: 0 -263px; width: 18px; height: 30px; } 
.iconSprite.top_menu_user_ico { background-position: 0 -303px; width: 18px; height: 30px; } 
.iconSprite.menu_tab_cols { background-position: 0 -343px; } 
.iconSprite.menu_tab_cols_active { background-position: 0 -392px; height: 49px; } 
.iconSprite.menu_tab_cols_disabled { background-position: 0 -451px; } 
.iconSprite.menu_tab_cond { background-position: 0 -500px; } 
.iconSprite.menu_tab_cond_active { background-position: 0 -549px; height: 49px; } 
.iconSprite.menu_tab_cond_disabled { background-position: 0 -608px; } 
.iconSprite.menu_tab_export { background-position: 0 -657px; } 
.iconSprite.menu_tab_export_active { background-position: 0 -706px; height: 49px; } 
.iconSprite.menu_tab_export_disabled { background-position: 0 -765px; } 
.iconSprite.menu_tab_fav { background-position: 0 -814px; } 
.iconSprite.menu_tab_fav_active { background-position: 0 -863px; height: 49px; } 
.iconSprite.menu_tab_fav_disabled { background-position: 0 -922px; } 
.iconSprite.menu_tab_menu { background-position: 0 -971px; } 
.iconSprite.menu_tab_menu_active { background-position: 0 -1020px; height: 49px; } 
.iconSprite.menu_collapse { background-position: 0 -1079px; width: 24px; height: 24px; } 

<div class='iconSprite menu_tab_arrow'></div>
<div class='iconSprite top_menu_admin_ico'></div>
<div class='iconSprite top_menu_clear_ico'></div>
<div class='iconSprite top_menu_data_ico'></div>
<div class='iconSprite top_menu_date_ico'></div>
<div class='iconSprite top_menu_print_ico'></div>
<div class='iconSprite top_menu_sql_ico'></div>
<div class='iconSprite top_menu_time_ico'></div>
<div class='iconSprite top_menu_user_ico'></div>
<div class='iconSprite menu_tab_cols'></div>
<div class='iconSprite menu_tab_cols_active'></div>
<div class='iconSprite menu_tab_cols_disabled'></div>
<div class='iconSprite menu_tab_cond'></div>
<div class='iconSprite menu_tab_cond_active'></div>
<div class='iconSprite menu_tab_cond_disabled'></div>
<div class='iconSprite menu_tab_export'></div>
<div class='iconSprite menu_tab_export_active'></div>
<div class='iconSprite menu_tab_export_disabled'></div>
<div class='iconSprite menu_tab_fav'></div>
<div class='iconSprite menu_tab_fav_active'></div>
<div class='iconSprite menu_tab_fav_disabled'></div>
<div class='iconSprite menu_tab_menu'></div>
<div class='iconSprite menu_tab_menu_active'></div>
<div class='iconSprite menu_collapse'></div>