//mixins
.border-radius (@radius: @border-radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;

    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.box-shadow(@shadow) {
    -webkit-box-shadow: @shadow;
    -moz-box-shadow: @shadow;
    box-shadow: @shadow;
}

.box-sizing (@type: border-box) {
    -webkit-box-sizing: @type;
    -moz-box-sizing: @type;
    box-sizing: @type;
}

/*.fontAw (@size:14px) {
    font-family: FontAwesome !important;
    font-size: @size !important;
}*/

/*.fontKosik(@size:14px) {
    font-family: 'kosik.font';
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: @size;
}*/

.transition(@param:all .4s) {
    -webkit-transition: @param;
    -moz-transition: @param;
    -o-transition: @param;
    transition: @param;

}
.rotate(@deg:180deg){
    -ms-transform: rotate(@deg);
    -webkit-transform: rotate(@deg);
    transform: rotate(@deg);
}

.multiline-truncate (@font-size: 14px, @line-height: 1.4, @lines-to-show: 3 ) {

    display: block; /* Fallback for non-webkit */
    display: -webkit-box;

    //max-width: 400px;
    height: @font-size*@line-height*@lines-to-show; /* Fallback for non-webkit */

    font-size: @font-size;
    line-height: @line-height;
    -webkit-line-clamp: @lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

}

.button() {
    font-weight: 600;
    font-size: 13px;
    border: 0;
    color: @color-text-white;
    .box-shadow(inset 0 -3px 0 0 rgba(0, 0, 0, .3));
    line-height: 46px;
    padding: 0 20px;
    .border-radius();

    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    min-width: 115px;
    text-align: center;
    margin: 10px auto;
    background-color: @gray-deactive;
    &:hover {
        text-decoration: none;
        color: @color-text-white;
    }
    &:focus, &:active {
        box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, .2);
        color: @color-text-white;
        text-decoration: none;
    }
}

.button-simple() {
    min-width: 100px;
    height: 43px;
    line-height: 43px;
    color: #fff !important;
    text-align: center;
    padding: 0 10px;
    font-weight: 400 !important;
    .border-radius();
    border:none;
    display: inline-block;
    text-decoration: none !important;
    text-transform: uppercase;

    /*-webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    transition: all .4s ease-in;*/
    &:hover {
        text-decoration: none;
        color: @color-text-white;
    }
}

