.region-quarter {
    display: inline-block;
    width: 100%;
    .block {
        width: ~"calc(25% - 12px)";
        margin-right: 16px;
        border: 1px solid @block-border;
        float: left;
        margin-bottom: 16px;
        position: relative;

        &:last-child {
            margin-right: 0;
            float: right;
                    }

    }
}

.region-third{
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    .block{
        overflow: hidden;
        width: ~"calc( 33.333% - 11px )";
        border: 1px solid @block-border;
        //height: 200px;
        margin-right: 16px;
        float: left;
        &:last-child{
            margin-right: 0;
        }
    }

}