.region-first-delivery-gift {
	margin-bottom: 20px;
    .block {
        overflow: hidden;
        background: @dark-red;
        min-height: 170px;
        color: #fff;
        padding: 20px 25px;
        position: relative;
        border-radius: 2px;
        border: 0;
        h4 {
            font-weight: 900;
            margin-top: 0;
            font-size: 22px;
        }
        span {
            font-size: 16px;
            margin-bottom: 13px;
            display: block;
        }
        .button-white {
            max-width: none;
        }
    }

    .customer-recomendation {
        position: absolute;
        width: 105px;
        right: 25px;
        bottom: 25px;
        max-width: 24%;
    }
    .skew-money, .skew-delivery {

        padding: 10px 15px 10px 7px;
        position: absolute;
        right: -8px;
        top: 50px;
        background: #fff;
        transform: rotate(-15deg);
        border-left: 1px solid #fff;
        border-radius:0 0 0 2px;
        &:before {
            content: "";
            border: 41px solid transparent;
            width: 0px;
            height: 0px;
            display: inline-block;
            position: absolute;
            border-right: 8px solid #fff;
            border-top: 0;
            right: 100%;
            top: 0;
        }
        img{
            height: 20px;
            max-width: none;
        }

    }
    .skew-delivery {
        top: 96px;
        min-width: 100px;
    }
    .show &{
        padding-right: 290px;
        .block{
            padding: 15px;
            h4{
               font-size: 19px;
            }
            span{
                font-size: 14px;
            }
        }
        .skew-money, .skew-delivery{
			img{
				height: 17px;
			}
        }
        .customer-recomendation{
            max-width: 30%;
        }
        .element-delivery-box form {
            margin-top: 28px;
        }
    }
}

.element-delivery-box{
    form{
        top: 16px;
    }
    span{
        br{
            display: none;
        }
    }

    .element-delivery-finder {
        position: relative;
        display: inline-block;
        width: 100%;
        input[type=text] {
            height: 35px;
            line-height: 35px;
            position: relative;
            background-color: #fff;
            font-style: italic;
            border: 0;

        }
        .button-simple {
            display: inline-block;
            height: 34px;
            line-height: 34px;
            border-left: 1px solid @gray-deactive;
            position: absolute;
            right: 0;
            bottom: 1px;
            border-radius: 0 2px 2px 0;

        }

    }

    .element-delivey-message, .element-delivery-result {
            position: absolute;
            color: #fff;
            line-height: 18px;
            margin-top: 0;
            height: 18px;
            overflow: hidden;
            text-align: center;
            width: 100%;
            left:0;
            p{
                .region-first-delivery-gift &{
                    &.success, &.danger{
                        color: #fff
                    }
                }
        }
    }
}