
.region-h3{
  .fa {
    font-size: 40px;
    color: @color-green;
    transition: 400ms;
    &:hover{
      font-size: 65px;
      color: @color-red;
      opacity: 0.8;
      transform: scale(1.09);
    }
  }
  .fa-tint{
    display: block;
    color: @color-dark-gray;
    font-size: 80px;
  }

  .pozdrav{
    padding: 10px 15px 10px 40px; //první je pro horní a spodní, další pravý, třetí levý
    position: relative;
    font-size: 20px;

    &:before{
      content: "\f017 ";
      font-family: "FontAwesome";
      font-size: 1.2em;
      position: absolute;
      left: 5px;
      top: 5px;
    }

    .mj-gift:before {
      content: "\e91c";
    }
  }
}