/* path to image folder */
/*background*/
/*TEXT*/
/*TITLE*/
/*LINK*/
/*COLOR*/
/*BOX*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local(OpenSans-Light), url('/css/fonts/open-sans-300-latin-ext.woff2') format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local(OpenSans-Light), url('/css/fonts/open-sans-300-latin.woff2') format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local(OpenSans), url('/css/fonts//open-sans-400-latin-ext.woff2') format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local(OpenSans), url('/css/fonts//open-sans-400-latin.woff2') format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local(OpenSans-Semibold), url('/css/fonts//open-sans-600-latin-ext.woff2') format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local(OpenSans-Semibold), url('/css/fonts/open-sans-600-latin.woff2') format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local(OpenSans-Bold), url('/css/fonts/open-sans-700-latin-ext.woff2') format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local(OpenSans-Bold), url('/css/fonts/open-sans-700-latin.woff2') format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
* {
  margin-left: auto;
  margin-right: auto;
  outline: none;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-padding-start: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fcfcfc;
  position: relative;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}
a {
  color: #5a5a5a;
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
}
a:hover,
a:focus {
  color: #5a5a5a;
  text-decoration: underline;
}
p {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 25px;
  line-height: 150%;
  font-weight: normal;
  margin: 5px 0;
  padding: 0;
}
h1,
.h1 {
  font-weight: 400;
}
h2,
.h2 {
  font-size: 20px;
  line-height: 120%;
}
h3,
.h3 {
  font-size: 17.5px;
  line-height: 105%;
}
h4,
.h4 {
  font-size: 15px;
  line-height: 105%;
}
h5,
.h5 {
  font-size: 12.5px;
  line-height: 105%;
}
h6,
.h6 {
  font-size: 10px;
  line-height: 105%;
}
.small {
  font-size: 85%;
}
h1,
h2,
h3,
.h1,
.h2,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1 small,
h2 small,
h3 small,
.h1 small,
.h2 small,
.h3 small {
  font-size: 65%;
  color: #777;
  font-weight: 400;
  line-height: 1;
}
h4,
h5,
h6,
.h4,
.h5,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h4 small,
h5 small,
h6 small,
.h4 small,
.h5 small,
.h6 small {
  font-size: 75%;
  color: #777;
  font-weight: 400;
  line-height: 1;
}
fieldset {
  border: none;
}
img {
  border: 0;
  max-width: 100%;
  font-size: 100%;
  height: auto;
  vertical-align: middle;
}
ul,
ol {
  padding: 0;
  margin: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
li {
  line-height: 1.4;
}
dl {
  margin-top: 0;
  margin-bottom: 20px;
}
td,
dd {
  line-height: 1.43;
}
.lighter-gray-bg {
  background-color: #fafafa;
  border: 1px solid #e5eceb;
}
.darker-gray-bg {
  background-color: #ebebeb;
}
.show {
  display: block !important;
}
.hide {
  display: none !important;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.button {
  font-weight: 600;
  font-size: 13px;
  border: 0;
  color: #fff;
  -webkit-box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.3);
  line-height: 46px;
  padding: 0 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  min-width: 115px;
  text-align: center;
  margin: 10px auto;
  background-color: #999;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.button:hover {
  text-decoration: none;
  color: #fff;
}
.button:focus,
.button:active {
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.2);
  color: #fff;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .button {
    font-size: 12px;
  }
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.button-simple {
  min-width: 100px;
  height: 43px;
  line-height: 43px;
  color: #fff !important;
  text-align: center;
  padding: 0 10px;
  font-weight: 400 !important;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
  display: inline-block;
  text-decoration: none !important;
  text-transform: uppercase;
  /*-webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    transition: all .4s ease-in;*/
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.button-simple:hover {
  text-decoration: none;
  color: #fff;
}
.button-red-deactive {
  background-color: #900417;
}
.button-red {
  background-color: #ca0f26;
}
.button-red:hover,
.button-red:focus {
  background-color: #900417;
}
.button-green {
  background-color: #19905e;
}
.button-green:hover,
.button-green:focus {
  background-color: #0c6438;
}
.link-red {
  color: #ca0f26;
  text-decoration: none;
}
.link-red:hover,
.link-red:active,
.link-red:focus {
  color: #900417;
}
.no-break {
  white-space: nowrap;
}
.img-circle {
  border-radius: 50%;
}
/*.fontAw (@size:14px) {
    font-family: FontAwesome !important;
    font-size: @size !important;
}*/
/*.fontKosik(@size:14px) {
    font-family: 'kosik.font';
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: @size;
}*/
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-progress-appearance: none;
  appearance: none;
}
input[type=text],
input[type=password],
select,
textarea {
  width: 100%;
  height: 43px;
  display: inline-block;
  border: 1px solid #e5eceb;
  background-color: #f5f5f5;
  color: #333;
  font-size: 13px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0 0 0 8px;
  max-width: 100%;
  outline: 0;
}
.error input[type=text],
.error input[type=password],
.error select,
.error textarea {
  border: 1px solid #19905e;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-progress-appearance: none;
  appearance: none;
  background: #f5f5f5 url('/css/images/selec-arrow.png') right 14px center / 10px no-repeat;
  padding-right: 30px;
}
label {
  font-size: 13px;
  color: #5a5a5a;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
}
.error label {
  color: #19905e;
}
.form-row {
  margin-bottom: 15px;
  width: 100%;
}
.checkbox-button {
  position: relative;
  display: inline-block;
  margin: 7px 0;
}
.checkbox-button label {
  font-weight: 700;
  text-transform: lowercase;
  cursor: pointer;
  width: auto !important;
  padding: 0 20px;
}
.checkbox-button label:before {
  content: '';
  position: absolute;
  height: 14px;
  width: 14px;
  display: inline-block;
  border-radius: 100%;
  background-color: #e5eceb;
  border: 1px solid #666;
  left: 0;
  top: 2px;
  margin-right: 20px;
}
.checkbox-button input[type="checkbox"] + label:before {
  border-radius: 0;
}
.checkbox-button input[type=radio],
.checkbox-button input[type=checkbox] {
  display: none;
  margin: 4px 0 0;
}
.checkbox-button input:checked + label:before {
  border: 1px solid #ca0f26;
  background: #ca0f26;
}
.checkbox-button input[type="checkbox"]:checked + label:before {
  content: '\f00c';
  background-color: transparent;
  color: #ca0f26;
  line-height: 14px;
}
body {
  text-align: center;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.zone-wrapper {
  max-width: 1240px;
  text-align: left;
}
.zone-header-wrapper {
  margin: 0;
  line-height: 0;
}
.zone-header-wrapper .zone-header > * {
  line-height: normal;
}
.region-quarter {
  display: inline-block;
  width: 100%;
}
.region-quarter .block {
  width: calc(25% - 12px);
  margin-right: 16px;
  border: 1px solid #e5eceb;
  float: left;
  margin-bottom: 16px;
  position: relative;
}
.region-quarter .block:last-child {
  margin-right: 0;
  float: right;
}
.region-thirds {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}
.region-thirds .block {
  overflow: hidden;
  width: calc( 33.333% - 11px );
  border: 1px solid #e5eceb;
  height: 200px;
  margin-right: 16px;
  float: left;
}
.region-thirds .block:last-child {
  margin-right: 0;
}
.region-special-category {
  width: 100%;
  display: inline-block;
}
.region-special-category .block {
  position: relative;
  height: 155px;
  overflow: hidden;
  border-radius: #e5eceb;
  border: 0;
}
.region-special-category .block:hover img {
  transform: scale(1.05) translate(-50%, 0);
}
.region-special-category .block:hover .iris {
  background-color: rgba(0, 0, 0, 0);
}
.region-special-category .block:hover .iris img {
  opacity: 0;
}
.region-special-category .block:hover .show-button {
  opacity: 1;
}
.region-special-category img {
  min-height: 100%;
  max-width: none;
  transition: 500ms;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
.region-special-category .show-button {
  font-size: 15px;
  border-radius: 2px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: 300ms;
  width: 80%;
  max-width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 36px;
  text-transform: uppercase;
}
.iris {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 300ms;
  -webkit-transition: 300ms;
}
.iris.iris-black {
  background-color: rgba(0, 0, 0, 0.3);
}
.iris.iris-red {
  background-color: rgba(255, 10, 50, 0.5);
}
@media screen and (max-width: 767px) {
  input[type=text],
  input[type=password],
  textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-progress-appearance: none;
    appearance: none;
  }
  .product-quantity-control input[type=text] {
    width: 36px;
  }
  .product-quantity-control .product-quantity-control-submit.minus {
    width: 35px;
  }
  .product-quantity-control .product-quantity-control-submit.minus + input[type=text] {
    width: 36px;
  }
  .product-quantity-control .product-quantity-control-submit.plus {
    width: 35px;
    height: 30px;
    background-image: url('/css/images/plus.svg') !important;
    background-size: auto 50% !important;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    text-align: center;
    font-size: 0;
  }
}
@media screen and (max-width: 1024px) {
  .zone-wrapper {
    padding: 0 15px;
  }
  .zone-wrapper.zone-header-wrapper,
  .zone-wrapper.zone-postscript-wrapper {
    padding: 0;
  }
  .zone.zone-header .region-inner {
    padding: 0 15px;
  }
  .zone.zone-footer {
    margin-left: -15px;
    margin-right: -15px;
  }
  .show .zone-static {
    padding-right: 0;
  }
}
@media screen and (max-width: 767px) {
  .zone .region {
    margin-bottom: 15px;
    width: 100%;
    float: none;
    clear: both;
  }
  .zone .region.region-category-review-slider,
  .zone .region.region-products {
    float: left;
    clear: none;
  }
  .zone.zone-postscript .region,
  .zone.zone-header .region {
    margin-bottom: 0;
  }
  .zone-header-wrapper {
    margin-top: 46px;
  }
  .zone-header-image-mobile {
    display: block;
    margin: 30px 0 20px;
  }
  .zone-header-image-mobile a {
    margin-bottom: 10px;
    display: block;
  }
  .zone-header-image-mobile a img {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
}
@media screen and (max-width: 559px) {
  .zone .region.region-category-review-slider,
  .zone .region.region-products {
    width: 100%;
    float: none;
    clear: both;
  }
}
