@media screen and (max-width: @mqBigMobileTo) {
    input[type=text], input[type=password], textarea{
        -moz-appearance: none;
        -webkit-appearance: none;
        -ms-progress-appearance: none;
        appearance: none;
    }
    .product-quantity-control {
        input[type=text]{
            width: 36px;
        }
        .product-quantity-control-submit{

            &.minus{
                width: 35px;
                +input[type=text]{
                    width: 36px;
                }
            }

            &.plus {
                width: 35px;
                height: 30px;
                background-image: url('/css/images/plus.svg') !important;
                background-size: auto 50% !important;
                background-position: center;
                background-repeat: no-repeat;
                padding: 0;
                text-align: center;
                font-size: 0;
            }
        }
    }

}
