@media screen and (max-width: @mqTabletTo) {
    .zone-wrapper{
        padding: 0 15px;
        &.zone-header-wrapper, &.zone-postscript-wrapper{
            padding: 0;
        }
    }
    .zone{
        &.zone-header{
            .region-inner{
               padding:0 15px;
            }
        }
        &.zone-footer{
            //margin-bottom: 30px;
            margin-left: -15px;
            margin-right: -15px;

        }

    }
    .show .zone-static{
        padding-right: 0;
    }
}

@media screen and (max-width: @mqBigMobileTo) {
    .zone{
        .region {
            margin-bottom: 15px;
            width: 100%;
            float: none;
            clear: both;
            &.region-category-review-slider, &.region-products{
                float: left;
                clear: none;
            }
        }
        &.zone-postscript, &.zone-header{
            .region{
                margin-bottom: 0;
            }
        }


    }
    .zone-header-wrapper{
        margin-top: 46px;
    }
    .zone-header-image-mobile{
        display: block;
        margin: 30px 0 20px;
        a{
            margin-bottom: 10px;
            display: block;
            img{
                .border-radius();
            }
        }
    }
}

@media screen and (max-width: @mqMobileTo) {
    .zone {
        .region {
            &.region-category-review-slider, &.region-products {
                width: 100%;
                float: none;
                clear: both;
            }
        }
    }
}
