/* path to image folder */
@img:'/css/images';
@font: '/css/fonts';
@svg:'/svg';
/*background*/
@body-background-color: #fcfcfc;
@lighter-gray-bg: #fafafa;
@darker-gray-bg: #ebebeb;
@very-dark-gray-bg:#d2d4d3;
@gray-deactive: #999;

/*TEXT*/
@default-font-family: 'Open Sans', Helvetica, sans-serif;
@default-font-size: 13px;
@default-line-height: 1.4;
@default-text-color: #333;

/*TITLE*/
@title-font-family: 'Open Sans', Helvetica, sans-serif;
@title-font-size: 25px;
@title-font-color: @default-text-color;
@title-line-height: 150%;

/*LINK*/
@link-color: #5a5a5a;
@link-color-hover: #5a5a5a;

/*COLOR*/
@dark-red: #ab1d22;
@color-red: #ca0f26;
@color-green: #19905e;
@color-text-white: #fff;
@color-red-hover: #900417;
@color-green-hover:#0c6438;
@color-gray: #666;
@color-light-gray:#f5f5f5;
@color-light-red:#ffe0e0;
@color-light-green:#e0ffe0;
@color-dark-gray: #2e3336;


/*BOX*/
@border-radius: 2px;
@block-border: #e5eceb;

// media queries boundaries: @media screen and (max-width: $mqSmallDesktopTo){ }

@mqMobile: 360px;
@mqMobileTo: 559px;

@mqBigMobile: 560px;
@mqBigMobileTo: 767px;

@mqTablet: 768px;
@mqTabletTo: 1024px;

@mqSmallDesktop: 1025px;
@mqSmallDesktopTo: 1279px;

@mqTabletMiddle: 990px;
