* {
    margin-left: auto;
    margin-right: auto;
    outline:none;
    font-family: @default-font-family;
    -webkit-padding-start: 0;
    .box-sizing();

}

body {
    margin: 0;
    padding: 0;

    color: @default-text-color;
    background-color: @body-background-color;
    position: relative;
    font-family: @default-font-family;
    font-size: @default-font-size;
    line-height: @default-line-height;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
}

a {
    color: @link-color;
    text-decoration: none;
    font-size: 13px;
    cursor: pointer;
    &:hover, &:focus {
        color: @link-color-hover;
        text-decoration: underline;
    }
}

p {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    font-family: @title-font-family;
    font-size: @title-font-size;
    line-height: @title-line-height;
    font-weight: normal;
    margin: 5px 0;
    padding: 0;
}

h1, .h1 {
    font-weight: 400;
}

h2, .h2 {
    font-size: (@title-font-size * 0.8);
    line-height: (@title-line-height * 0.8);
}

h3, .h3 {
    font-size: (@title-font-size * 0.7);
    line-height: (@title-line-height * 0.7);
}

h4, .h4 {
    font-size: (@title-font-size * 0.6);
    line-height: (@title-line-height * 0.7);
}

h5, .h5 {
    font-size: (@title-font-size * 0.5);
    line-height: (@title-line-height * 0.7);
}

h6, .h6 {
    font-size: (@title-font-size * 0.4);
    line-height: (@title-line-height * 0.7);
}

.small {
    font-size: 85%;

}

h1, h2, h3, .h1, .h2, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    small {
        font-size: 65%;
        color: #777;
        font-weight: 400;
        line-height: 1;

    }
}

h4, h5, h6, .h4, .h5, .h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    small {
        font-size: 75%;
        color: #777;
        font-weight: 400;
        line-height: 1;
    }
}

fieldset {
    border: none;
}

img {
    border: 0;
    max-width: 100%;
    font-size: 100%;
    height: auto;
    vertical-align: middle;
}

// Unordered and Ordered lists
ul, ol {
    padding: 0;
    margin: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin-bottom: 0;
}

li {
    line-height: @default-line-height;
}
dl{
    margin-top: 0;
    margin-bottom: 20px;
}

td, dd{
    line-height: 1.43;
}
.lighter-gray-bg {
    background-color: @lighter-gray-bg;
    border: 1px solid @block-border;
}

.darker-gray-bg {
    background-color: @darker-gray-bg;
}

.show {
    display: block !important;
}
.hide{
    display: none !important;
}
.hidden{
    display: none !important;
    visibility: hidden !important;
}

.button {
    .button();
    .transition(all .2s ease-in);
    @media screen and (max-width: @mqBigMobileTo) {
        font-size: 12px;
    }
}
.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}

.button-simple {
    .button-simple();
    .transition(all .2s ease-in);
}
.button-red-deactive {
    background-color: @color-red-hover;
}

.button-red {
    background-color: @color-red;
    &:hover, &:focus{
        background-color: @color-red-hover;
    }
}

.button-green {
    background-color: @color-green;

    &:hover, &:focus{
        background-color: @color-green-hover;
    }
}


.link-red{
    color: @color-red;
    text-decoration: none;
    &:hover, &:active, &:focus{
        color:@color-red-hover;
    }
}

.no-break{
    white-space: nowrap;
}
.img-circle{
    border-radius: 50%;
}
