.region-special-category{
	width: 100%;
	display: inline-block;
	.block{
		position: relative;
		height: 155px;
		overflow: hidden;
		border-radius: @block-border;
		border: 0;
		&:hover{
			img{
				transform: scale(1.05) translate(-50%,0);
			}
			.iris{
				background-color: rgba(0,0,0,0);
				img{
					opacity: 0;
				 }

			}
			.show-button{
				opacity: 1;
			}

		}
	}
	img{
		min-height: 100%;
		max-width: none;
		transition: 500ms;
		position: relative;
		left: 50%;
		transform: translate(-50%, 0);

	}
	.show-button{
		font-size: 15px;
		border-radius: @border-radius;
		color:#fff;
		background-color: rgba(0,0,0,0.7);
		opacity: 0;
		transition: 300ms;
		width: 80%;
		max-width: 200px;
		position: absolute;
		top:50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		line-height: 36px;
		text-transform: uppercase;
	}
}

.iris{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	transition: 300ms;
	-webkit-transition: 300ms;
	&.iris-black{
		background-color: rgba(0,0,0,0.3);
	}
	&.iris-red{
		background-color: rgba(255,10,50,0.5);
	}
}